<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <title>Fleet + {{vehicleID}}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <header class="sidebar">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
        <a class="active" href="/"><i class="fa fa-fw fa-home"></i> Home</a>
        <a href="/fleet"><i class="fa fa-fw fa-pie-chart"></i> Statistic</a>
        <a href="/contact"><i class="fa fa-fw fa-envelope"></i> Kontakt</a>
        <a href="/register"><i class="fa fa-fw fa-user"></i> Register</a>'
    </header>
<body>
    <div class="content">
  <a href="#" class="list-group-item list-group-item-action active">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="headline">Mit køretøj</h5>
    </div>
    <p class="sub-title">Oversigt.</p>
  </a>
  <a href="#">
    <div class="d-flex w-100 justify-content-between">
  </a>
  <div style="width:300px;height:350px;line-height:3em;overflow:scroll;padding:5px;background-color:#FCFADD;color:#714D03;scrollbar-base-color:#DEBB07;position:absolute">
<div id= "box"></div>
<script>
  var rows = [{
    errorMessage: "Alarm meddelelse",
    time: "Tidspunkt",
}, {
    errorMessage: "AlarmHydraulic",
    time: " 12:38 18-09-2020",
}];

var html = "<table border='1|1'>";
for (var i = 0; i < rows.length; i++) {
    html+="<tr>";
    html+="<td>"+rows[i].errorMessage+"</td>";
    html+="<td>"+rows[i].time+"</td>";
    html+="</tr>";
}
html+="</table>";
document.getElementById("box").innerHTML = html;
</script> 
</div>
<p class="mb-1">The ID: {{vehicleID}} timer siden</p>
  {{#each vehicleDataList}}
    <div>
      <div style= "position:relative;margin-top: 360px;left:-40px;"></div>
    <p class="mb-1">Hydraulikservice: {{timeSinceHydService}} timer siden</p>
    <p class="mb-1">Motorservice: {{timeSinceMotService}} timer siden</p>
    <p class="mb-1">Sidst aktiv: {{mechanicalMotorTimer}} </p>
    <p class="mb-1">Antal maskin timer: {{motorRunTimerHour}}</p>
    </div>
    {{/each}}
    <iframe class="pLink" width="1065" height="654" src="https://app.powerbi.com/view?r=eyJrIjoiYjI0ODg5YTEtODcxYS00NWNhLWE5YzMtNWJiYTVhZGFiYWRkIiwidCI6IjViMTlmZWQ2LTZmMzgtNDk3Yy04MzVmLTgzMGRkMmEyZjI5ZiIsImMiOjl9&pageName=ReportSection" frameborder="0" allowFullScreen="true" ></iframe>

    </script> 


{{#each alarms}}
<p class="mb-1">The ID: {{vehicleID}} timer siden</p>
    <div>
      <div style= "position:relative;margin-top: 600px;left:-40px;"></div>
    <p class="mb-1">Feed LEvel: {{feedLevel}} timer siden</p>
    <p class="mb-1">Fuel Level: {{fuelLevel}} timer siden</p>
    <p class="mb-1">hydraulic Pressure: {{hydraulicPressure}} </p>
    <p class="mb-1">Hydraulic Temperature: {{hydraulicTemperature}}</p>
    </div>
    {{/each}}

    
</body>


</html>